In [ ]:
# import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as md
import torch
import torchvision
import torchvision.transforms as transforms
from torch.utils.data import DataLoader
import torch.nn as nn
import torch.optim as optim
import torchvision.utils as vutils
import csv
import gc
import math
from torchsummary import summary
from datetime import datetime
import random

In [ ]:
def preprocess_appliance_data( data, appliance, window):
  '''
  preprocess_appliance_data preprocess the input data for a specific appliance. Based on the characteristics
  of the appliance, 6 hour windows are created as individual timeseriers and stored in a pandas dataframe.

  :data: the pandas dataframe containing the data for one appliance, it should have two columns 'localminute' for the timestamp and the appliance's name columm
  :appliance: the name of the current appliance
  :window: the size of the window to be created
  
  '''

  data = data.loc[:, ['localminute', appliance]]
  data['localminute'] = pd.to_datetime(data['localminute'], utc=True)
  #data = data.sort_values(by='localminute', ascending=True)

  data['localminute'] = data['localminute'].dt.tz_localize(None)
  data = data[data['localminute'].notna()]
  data = data.set_index('localminute' )

  # resample the timeseries in order to have all the datasets with the same sampling rate
  data = data.resample('5S').ffill()

  data['datetem'] = pd.to_datetime(data.index)
  # seperate the timeseries data into 6 hour windows
  data['date'] = data['datetem'].dt.date
  data['hour'] = data['datetem'].dt.hour.apply(lambda x: 0 if 0 <= x and x <=5 else 1 if 6 <= x and x <= 11 else 2 if 12 <= x and x <= 17 else 3)

  data = data.drop('datetem', axis=1)
  #data = data.dropna()

  #set very small values to 0 as they may be erros in the measurement
  #data[appliance] =  data[appliance].apply(lambda x: 0 if x <= 0.2 else x)

  group = data.groupby(['date','hour'])
  
  # create a list with the datapoints of each window, this is done in order to create vectors for the GAN later on
  data_list = group.apply(lambda x: np.array(list(x.iloc[0:-1,0]), dtype=np.float32)).to_frame().reset_index()

  #data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: x/1000)

  # if there are any windows with size smaller than specified discrard them
  data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: np.NaN  if len(x) < window else x)
  # discard any windows that only contain noise i.e. their energy sum is very small
  data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: np.NaN if np.sum(x)<20.0 else x)

  # apply normalization using min max values to all timeseries
  data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: (abs(x)))
  data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: (x-np.min(x))/(np.max(x)-np.min(x)))

  # if any windows are missing data points also discard them
  data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: np.NaN if np.isnan(x).any() else x)

  #keep only the timeseries with higher variance i.e. more distinct pulses, this is used depending on the current appliance to process
  #data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: np.NaN if np.var(x)<0.08 else x)
  #data_list[data_list.columns[2]] = data_list[data_list.columns[2]].apply(lambda x: np.NaN if np.var(x)>0.02 else x)

  labels = data_list.index.to_list()
  # the final number of samples created for the specific appliance
  print('Number of samples: ', len(labels))

  data_list = data_list.dropna()

  return data_list

Choose the list of files to be read and preprocessed

In [ ]:
# you should put the file names in this list after you download the datasets, for example for dataport data:
files_to_open = ['dataport_electric_vehicle2_3000', 'dataport_electric_vehicle1222','dataport_electric_vehicle27', 'dataport_electric_vehicle5679', 'dataport_electric_vehicle3000', 'dataport_electric_vehicle9053','dataport_electric_vehicle3517','dataport_electric_vehicle5058']
files_path = 'path/to/files'
# name the appliance currently using 
appliance =  'electric_vehicle'

# preprocess the first file 
data_first = pd.read_csv(f'{files_path}{files_to_open[0]}.csv',header=None, names=["localminute", appliance] )
train_pre = preprocess_ukdale(data_first, appliance,window_size )

# create the training set for one appliance, using all the available data from the dataset 
for i, files in enumerate(files_to_open[1:], 1):
  print(f'loading {i} , {files}')
  temp = pd.read_csv(f'{files_path}{files}.csv',header=None, names=["localminute", appliance] )
  temp = preprocess_appliance_data(temp, appliance,window_size )
  train_pre = pd.concat([train_pre, temp])

# print the created dataset
print(train_pre)

               localminute  car1
0      2019-05-01 16:39:18   NaN
1      2019-05-01 16:21:08   NaN
2      2019-05-01 16:39:19   NaN
3      2019-05-01 16:39:17   NaN
4      2019-05-01 16:39:20   NaN
...                    ...   ...
422579 2019-07-02 16:40:19   NaN
422580 2019-07-02 16:40:16   NaN
422581 2019-07-02 16:40:14   NaN
422582 2019-07-02 16:40:12   NaN
422583 2019-07-02 16:40:09   NaN

[422584 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
                     car1             datetem        date  hour
localminute
2019-05-01 05:00:00   NaN 2019-05-01 05:00:00  2019-05-01     0
2019-05-01 05:00:05   NaN 2019-05-01 05:00:05  2019-05-01     0
2019-05-01 05:00:10   NaN 2019-05-01 05:00:10  2019-05-01     0
2019-05-01 05:00:15   NaN 2019-05-01 05:00:15  2019-05-01     0
2019-05-01 05:00:20   NaN 2019-05-01 05:00:20  2019-05-01     0
...                   ...                 ...         ...   ...
2019-08-01 04:59:35   NaN 2019-08-01 04:59:35  2019-08-01     0
2019-08-01 04:59:40   NaN 2019-08-01 04:59:40  2019-08-01     0
2019-08-01 04:59:45   NaN 2019-08-01 04:59:45  2019-08-01     0
2019-08-01 04:59:50   NaN 2019-08-01 04:59:50  2019-08-01     0
2019-08-01 04:59:55   NaN 2019-08-01 04:59:55  2019-08-01     0

[1589760 rows x 4 columns]
after filling
                     car1        date  hour
localminute
2019-05-01 05:00:00   NaN  2019-05-01     0
2019-05-01 05:00:05   NaN  2019-05-01     0
2019-05-01 05:00:10   NaN  2019-05-01     0
2019-05-01 05:00:15   NaN  2019-05-01     0
2019-05-01 05:00:20   NaN  2019-05-01     0
...                   ...         ...   ...
2019-08-01 04:59:35   NaN  2019-08-01     0
2019-08-01 04:59:40   NaN  2019-08-01     0
2019-08-01 04:59:45   NaN  2019-08-01     0
2019-08-01 04:59:50   NaN  2019-08-01     0
2019-08-01 04:59:55   NaN  2019-08-01     0

[1589760 rows x 3 columns]
                     car1        date  hour
localminute
2019-05-01 05:00:00   NaN  2019-05-01     0
2019-05-01 05:00:05   NaN  2019-05-01     0
2019-05-01 05:00:10   NaN  2019-05-01     0
2019-05-01 05:00:15   NaN  2019-05-01     0
2019-05-01 05:00:20   NaN  2019-05-01     0
...                   ...         ...   ...
2019-08-01 00:00:00   NaN  2019-08-01     0
2019-08-01 00:00:05   NaN  2019-08-01     0
2019-08-01 00:00:10   NaN  2019-08-01     0
2019-08-01 00:00:15   NaN  2019-08-01     0
2019-08-01 00:00:20   NaN  2019-08-01     0

[1845 rows x 3 columns]
joined
           date  hour                                                  0
0    2019-05-01     0  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1    2019-05-01     1  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2    2019-05-01     2  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3    2019-05-01     3  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4    2019-05-02     0  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
..          ...   ...                                                ...
364  2019-07-31     0  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
365  2019-07-31     1  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
366  2019-07-31     2  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
367  2019-07-31     3  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
368  2019-08-01     0  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

[369 rows x 3 columns]
0                                                    NaN
1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                             ...
364    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
365    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
366    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
367    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
368    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
Name: 0, Length: 369, dtype: object
0                                                    NaN
1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                             ...
364    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
365    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
366    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
367    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
368    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
Name: 0, Length: 369, dtype: object
Number of samples:  369
Series([], Name: 0, dtype: float64)
loading 1 , dataport_electric_vehicle1222
                localminute   car1
0       2019-09-01 05:00:01  0.001
1       2019-09-01 05:00:02  0.002
2       2019-09-01 05:00:03  0.000
3       2019-09-01 05:00:04  0.002
4       2019-09-01 05:00:05  0.001
...                     ...    ...
1223994 2019-09-01 04:59:55  0.001
1223995 2019-09-01 04:59:56  0.001
1223996 2019-09-01 04:59:57  0.000
1223997 2019-09-01 04:59:58  0.002
1223998 2019-09-01 04:59:59  0.001

[1223999 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
                      car1             datetem        date  hour
localminute
2019-05-01 05:00:00  0.002 2019-05-01 05:00:00  2019-05-01     0
2019-05-01 05:00:05  0.000 2019-05-01 05:00:05  2019-05-01     0
2019-05-01 05:00:10  0.000 2019-05-01 05:00:10  2019-05-01     0
2019-05-01 05:00:15  0.002 2019-05-01 05:00:15  2019-05-01     0
2019-05-01 05:00:20  0.002 2019-05-01 05:00:20  2019-05-01     0
...                    ...                 ...         ...   ...
2019-10-01 04:59:35  0.000 2019-10-01 04:59:35  2019-10-01     0
2019-10-01 04:59:40  0.000 2019-10-01 04:59:40  2019-10-01     0
2019-10-01 04:59:45  0.002 2019-10-01 04:59:45  2019-10-01     0
2019-10-01 04:59:50  0.002 2019-10-01 04:59:50  2019-10-01     0
2019-10-01 04:59:55  0.000 2019-10-01 04:59:55  2019-10-01     0

[2643840 rows x 4 columns]
after filling
                      car1        date  hour
localminute
2019-05-01 05:00:00  0.002  2019-05-01     0
2019-05-01 05:00:05  0.000  2019-05-01     0
2019-05-01 05:00:10  0.000  2019-05-01     0
2019-05-01 05:00:15  0.002  2019-05-01     0
2019-05-01 05:00:20  0.002  2019-05-01     0
...                    ...         ...   ...
2019-10-01 04:59:35  0.000  2019-10-01     0
2019-10-01 04:59:40  0.000  2019-10-01     0
2019-10-01 04:59:45  0.002  2019-10-01     0
2019-10-01 04:59:50  0.002  2019-10-01     0
2019-10-01 04:59:55  0.000  2019-10-01     0

[2643840 rows x 3 columns]
                      car1        date  hour
localminute
2019-05-01 05:00:00  0.002  2019-05-01     0
2019-05-01 05:00:05  0.000  2019-05-01     0
2019-05-01 05:00:10  0.000  2019-05-01     0
2019-05-01 05:00:15  0.002  2019-05-01     0
2019-05-01 05:00:20  0.002  2019-05-01     0
...                    ...         ...   ...
2019-10-01 00:00:00  0.002  2019-10-01     0
2019-10-01 00:00:05  0.002  2019-10-01     0
2019-10-01 00:00:10  0.001  2019-10-01     0
2019-10-01 00:00:15  0.001  2019-10-01     0
2019-10-01 00:00:20  0.001  2019-10-01     0

[3065 rows x 3 columns]
joined
           date  hour                                                  0
0    2019-05-01     0  [0.002, 0.0, 0.0, 0.002, 0.002, 0.0, 0.0, 0.00...
1    2019-05-01     1  [-0.001, -0.001, -0.002, -0.001, -0.002, -0.00...
2    2019-05-01     2  [0.001, 0.001, 0.0, 0.001, 0.001, 0.0, 0.002, ...
3    2019-05-01     3  [0.0, 0.002, 0.002, 0.003, 0.002, 0.001, 0.001...
4    2019-05-02     0  [0.001, 0.002, 0.0, 0.003, 0.0, 0.001, 0.002, ...
..          ...   ...                                                ...
608  2019-09-30     0  [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
609  2019-09-30     1  [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
610  2019-09-30     2  [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
611  2019-09-30     3  [0.002, 0.001, 0.002, 0.002, 0.001, 0.001, 0.0...
612  2019-10-01     0  [0.002, 0.002, 0.001, 0.001, 0.001, 0.001, 0.0...

[613 rows x 3 columns]
0                                                    NaN
1      [-0.001, -0.001, -0.002, -0.001, -0.002, -0.00...
2      [0.001, 0.001, 0.0, 0.001, 0.001, 0.0, 0.002, ...
3      [0.0, 0.002, 0.002, 0.003, 0.002, 0.001, 0.001...
4      [0.001, 0.002, 0.0, 0.003, 0.0, 0.001, 0.002, ...
                             ...
608    [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
609    [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
610    [0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0...
611    [0.002, 0.001, 0.002, 0.002, 0.001, 0.001, 0.0...
612    [0.002, 0.002, 0.001, 0.001, 0.001, 0.001, 0.0...
Name: 0, Length: 613, dtype: object
0                                                    NaN
1      [-0.001, -0.001, -0.002, -0.001, -0.002, -0.00...
2                                                    NaN
3      [0.0, 0.002, 0.002, 0.003, 0.002, 0.001, 0.001...
4                                                    NaN
                             ...
608                                                  NaN
609                                                  NaN
610                                                  NaN
611    [0.002, 0.001, 0.002, 0.002, 0.001, 0.001, 0.0...
612                                                  NaN
Name: 0, Length: 613, dtype: object
Number of samples:  613
1      [0.00015112589, 0.00015112589, 0.00030225178, ...
3      [0.0, 0.00028587767, 0.00028587767, 0.00042881...
6      [0.00028939373, 0.00028939373, 0.0, 0.00014469...
11     [0.00028425243, 0.00028425243, 0.00028425243, ...
12     [0.997568, 0.99771106, 0.9982833, 0.9972819, 0...
19     [0.00014469687, 0.00014469687, 0.00014469687, ...
124    [0.0, 0.0, 0.00028534743, 0.00014267371, 0.0, ...
127    [0.0, 0.0, 0.00013982103, 0.00013982103, 0.0, ...
492    [0.00028180922, 0.00014090461, 0.00028180922, ...
494    [0.0, 0.00014088476, 0.00014088476, 0.00014088...
496    [0.00014134277, 0.00014134277, 0.00014134277, ...
500    [0.0, 0.00028153154, 0.00014076577, 0.00014076...
503    [0.00014152279, 0.00014152279, 0.0, 0.0, 0.0, ...
504    [0.98096883, 0.97808534, 0.98154557, 0.9803922...
506    [0.00014035088, 0.0, 0.00028070176, 0.00028070...
507    [0.0001418641, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...
611    [0.00028612305, 0.00014306152, 0.00028612305, ...
Name: 0, dtype: object
loading 2 , dataport_electric_vehicle27
               localminute   car1
0      2019-09-01 05:00:01  0.002
1      2019-09-01 05:00:02  0.002
2      2019-09-01 05:00:03  0.006
3      2019-09-01 05:00:04  0.004
4      2019-09-01 05:00:05  0.002
...                    ...    ...
657746 2019-08-01 04:59:55  0.002
657747 2019-08-01 04:59:56  0.002
657748 2019-08-01 04:59:57  0.004
657749 2019-08-01 04:59:58  0.002
657750 2019-08-01 04:59:59  0.000

[657751 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
                      car1             datetem        date  hour
localminute
2019-05-01 05:45:45  0.002 2019-05-01 05:45:45  2019-05-01     0
2019-05-01 05:45:50  0.002 2019-05-01 05:45:50  2019-05-01     0
2019-05-01 05:45:55  0.002 2019-05-01 05:45:55  2019-05-01     0
2019-05-01 05:46:00  0.002 2019-05-01 05:46:00  2019-05-01     0
2019-05-01 05:46:05  0.002 2019-05-01 05:46:05  2019-05-01     0
...                    ...                 ...         ...   ...
2019-10-01 04:59:35  0.003 2019-10-01 04:59:35  2019-10-01     0
2019-10-01 04:59:40  0.002 2019-10-01 04:59:40  2019-10-01     0
2019-10-01 04:59:45  0.002 2019-10-01 04:59:45  2019-10-01     0
2019-10-01 04:59:50  0.002 2019-10-01 04:59:50  2019-10-01     0
2019-10-01 04:59:55  0.004 2019-10-01 04:59:55  2019-10-01     0

[2643291 rows x 4 columns]
after filling
                      car1        date  hour
localminute
2019-05-01 05:45:45  0.002  2019-05-01     0
2019-05-01 05:45:50  0.002  2019-05-01     0
2019-05-01 05:45:55  0.002  2019-05-01     0
2019-05-01 05:46:00  0.002  2019-05-01     0
2019-05-01 05:46:05  0.002  2019-05-01     0
...                    ...         ...   ...
2019-10-01 04:59:35  0.003  2019-10-01     0
2019-10-01 04:59:40  0.002  2019-10-01     0
2019-10-01 04:59:45  0.002  2019-10-01     0
2019-10-01 04:59:50  0.002  2019-10-01     0
2019-10-01 04:59:55  0.004  2019-10-01     0

[2643291 rows x 3 columns]
                      car1        date  hour
localminute
2019-05-01 05:45:45  0.002  2019-05-01     0
2019-05-01 05:45:50  0.002  2019-05-01     0
2019-05-01 05:45:55  0.002  2019-05-01     0
2019-05-01 05:46:00  0.002  2019-05-01     0
2019-05-01 05:46:05  0.002  2019-05-01     0
...                    ...         ...   ...
2019-10-01 00:00:00  3.389  2019-10-01     0
2019-10-01 00:00:05  3.387  2019-10-01     0
2019-10-01 00:00:10  3.389  2019-10-01     0
2019-10-01 00:00:15  3.381  2019-10-01     0
2019-10-01 00:00:20  3.383  2019-10-01     0

[3065 rows x 3 columns]
joined
           date  hour                                                  0
0    2019-05-01     0  [0.002, 0.002, 0.002, 0.002, 0.002, 0.002, 0.0...
1    2019-05-01     1  [0.002, 0.002, 0.002, 0.002, 0.002, 0.002, 0.0...
2    2019-05-01     2  [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
3    2019-05-01     3  [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
4    2019-05-02     0  [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
..          ...   ...                                                ...
608  2019-09-30     0  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
609  2019-09-30     1  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
610  2019-09-30     2  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
611  2019-09-30     3  [0.0, 0.003, 0.002, 0.003, 0.004, 0.004, 0.004...
612  2019-10-01     0  [3.389, 3.387, 3.389, 3.381, 3.383, 3.386, 3.3...

[613 rows x 3 columns]
0                                                    NaN
1      [0.002, 0.002, 0.002, 0.002, 0.002, 0.002, 0.0...
2      [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
3      [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
4      [0.004, 0.004, 0.004, 0.004, 0.004, 0.004, 0.0...
                             ...
608    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
609    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
610    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
611    [0.0, 0.003, 0.002, 0.003, 0.004, 0.004, 0.004...
612    [3.389, 3.387, 3.389, 3.381, 3.383, 3.386, 3.3...
Name: 0, Length: 613, dtype: object
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
608                                                  NaN
609                                                  NaN
610                                                  NaN
611    [0.0, 0.003, 0.002, 0.003, 0.004, 0.004, 0.004...
612    [3.389, 3.387, 3.389, 3.381, 3.383, 3.386, 3.3...
Name: 0, Length: 613, dtype: object
Number of samples:  613
7      [0.50000006, 0.50000006, 0.50000006, 0.5000000...
252    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
368    [0.001166521, 0.0005832605, 0.0005832605, 0.00...
396    [0.0011713031, 0.0011713031, 0.0011713031, 0.0...
399    [0.0005861665, 0.0005861665, 0.0005861665, 0.0...
487    [0.0011771631, 0.0011771631, 0.0011771631, 0.0...
488    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
492    [0.0014611338, 0.0008766803, 0.0005844536, 0.0...
499    [0.0005884084, 0.0005884084, 0.0005884084, 0.0...
503    [0.0011764707, 0.0011764707, 0.0011764707, 0.0...
504    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
508    [0.0005897965, 0.0005897965, 0.0005897965, 0.0...
611    [0.0, 0.0008761682, 0.0005841122, 0.0008761682...
612    [0.99764496, 0.99705625, 0.99764496, 0.99529, ...
Name: 0, dtype: object
loading 3 , dataport_electric_vehicle5679
                localminute   car1
0       2019-09-01 05:00:01  0.002
1       2019-09-01 05:00:02  0.002
2       2019-09-01 05:00:03  0.004
3       2019-09-01 05:00:04  0.002
4       2019-09-01 05:00:05  0.004
...                     ...    ...
1230979 2019-09-01 04:59:55  0.002
1230980 2019-09-01 04:59:56  0.002
1230981 2019-09-01 04:59:57  0.004
1230982 2019-09-01 04:59:58  0.002
1230983 2019-09-01 04:59:59  0.004

[1230984 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
                      car1             datetem        date  hour
localminute
2019-05-01 05:00:00  0.002 2019-05-01 05:00:00  2019-05-01     0
2019-05-01 05:00:05  0.002 2019-05-01 05:00:05  2019-05-01     0
2019-05-01 05:00:10  0.002 2019-05-01 05:00:10  2019-05-01     0
2019-05-01 05:00:15  0.002 2019-05-01 05:00:15  2019-05-01     0
2019-05-01 05:00:20  0.003 2019-05-01 05:00:20  2019-05-01     0
...                    ...                 ...         ...   ...
2019-10-01 04:59:35  0.004 2019-10-01 04:59:35  2019-10-01     0
2019-10-01 04:59:40  0.000 2019-10-01 04:59:40  2019-10-01     0
2019-10-01 04:59:45  0.002 2019-10-01 04:59:45  2019-10-01     0
2019-10-01 04:59:50  0.002 2019-10-01 04:59:50  2019-10-01     0
2019-10-01 04:59:55  0.004 2019-10-01 04:59:55  2019-10-01     0

[2643840 rows x 4 columns]
after filling
                      car1        date  hour
localminute
2019-05-01 05:00:00  0.002  2019-05-01     0
2019-05-01 05:00:05  0.002  2019-05-01     0
2019-05-01 05:00:10  0.002  2019-05-01     0
2019-05-01 05:00:15  0.002  2019-05-01     0
2019-05-01 05:00:20  0.003  2019-05-01     0
...                    ...         ...   ...
2019-10-01 04:59:35  0.004  2019-10-01     0
2019-10-01 04:59:40  0.000  2019-10-01     0
2019-10-01 04:59:45  0.002  2019-10-01     0
2019-10-01 04:59:50  0.002  2019-10-01     0
2019-10-01 04:59:55  0.004  2019-10-01     0

[2643840 rows x 3 columns]
                      car1        date  hour
localminute
2019-05-01 05:00:00  0.002  2019-05-01     0
2019-05-01 05:00:05  0.002  2019-05-01     0
2019-05-01 05:00:10  0.002  2019-05-01     0
2019-05-01 05:00:15  0.002  2019-05-01     0
2019-05-01 05:00:20  0.003  2019-05-01     0
...                    ...         ...   ...
2019-10-01 00:00:00  0.006  2019-10-01     0
2019-10-01 00:00:05  0.006  2019-10-01     0
2019-10-01 00:00:10  0.006  2019-10-01     0
2019-10-01 00:00:15  0.007  2019-10-01     0
2019-10-01 00:00:20  0.007  2019-10-01     0

[3065 rows x 3 columns]
joined
           date  hour                                                  0
0    2019-05-01     0  [0.002, 0.002, 0.002, 0.002, 0.003, 0.002, 0.0...
1    2019-05-01     1  [0.003, 0.003, 0.002, 0.002, 0.003, 0.002, 0.0...
2    2019-05-01     2  [0.002, 0.003, 0.004, 0.003, 0.003, 0.003, 0.0...
3    2019-05-01     3  [0.0, 0.0, 0.0, 0.001, 0.0, 0.002, 0.0, 0.0, 0...
4    2019-05-02     0  [0.002, 0.002, 0.003, 0.002, 0.002, 0.002, 0.0...
..          ...   ...                                                ...
608  2019-09-30     0  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
609  2019-09-30     1  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
610  2019-09-30     2  [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
611  2019-09-30     3  [0.003, 0.002, 0.002, 0.002, 0.004, 0.002, 0.0...
612  2019-10-01     0  [0.006, 0.006, 0.006, 0.007, 0.007, 0.006, 0.0...

[613 rows x 3 columns]
0                                                    NaN
1      [0.003, 0.003, 0.002, 0.002, 0.003, 0.002, 0.0...
2      [0.002, 0.003, 0.004, 0.003, 0.003, 0.003, 0.0...
3      [0.0, 0.0, 0.0, 0.001, 0.0, 0.002, 0.0, 0.0, 0...
4      [0.002, 0.002, 0.003, 0.002, 0.002, 0.002, 0.0...
                             ...
608    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
609    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...
610    [0.003, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0...

In [ ]:
# same in a pickle the created datasets, for example
train_pre.to_pickle("/path_to_saved/dataport_electric_vehicle_5s.pkl")